<header role="banner">

<div class="layout" data-layout="tallinn">

<div id="banner-logo">
<a href="/" aria-label="{{ site.name }}" title="Home">{% include "partials/svgs/logo-sunrise-h.svg" %}<span data-visibility="hidden">{{ site.name }}</span></a>
</div><!-- banner-logo -->

{% if features.navigationMenus %}
{% include "partials/navigation-menu.html" %}
{% else %}
<nav data-navigation-body="bar" aria-label="Primary">
<ul>
{% for item in navigation.items %}
{% if item.url == "/contact" or item.url == "/contact/" %}
<li><a href="/contact/?referrer={{ contactReferrer }}&placement=nav">{{ item.text }}</a></li>
{% else %}
<li><a href="{{ item.url }}">{{ item.text }}</a></li>
{% endif %}
{% endfor %}
</ul>
</nav>
{% endif %}

</div><!-- layout -->

</header>
